body{
	background-color: black;
}
#abot{
	padding-top:0.9%;
	background-color: #415E9A;
	background-image: linear-gradient(315deg,#2D373B  0%,#415E9A 74%);
	color: white;
}
.top{
	background-color: #415E9A;
	color:white;
}
.logo{
	width: auto;
	height: auto;
	padding-left: 0px;
	border-radius:0px;
	margin-left: 3px;
}
.conference{
	padding-left: 1%;
	font-size: 31px;
}
.duration{
	padding-left: 77%;
	font-size:19px;
}
img{
	height: 70%;
	width: 100%;
}
.subHeader{
	text-decoration:underline; 
}
.focus{
	padding-top: 6%;
}
.sub{
	padding-top:5%;
}
