@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=KoHo');
@import url('https://fonts.googleapis.com/css?family=Hi+Melody');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

body{
	background-color: #3B5997;
}
#abot{
	padding-top:0.9%;
	background-color: #E4E4E4;
	/*background-image: linear-gradient(315deg,#2D373B  0%,#415E9A 74%);*/
	color: black;
}
.nopadding {
   padding: 0 ;
   margin: 0 ;
}
.padding{
	padding-left: 0;
	margin: 0px 0px;
}
/*#3B5997*/
.top{
	background-color: #C4C4C4;
	color:black;
}
.BalooThambi2{
	 font-family: 'Baloo Thambi 2', cursive;
}
.logo{
	width: auto;
	height: auto;
	padding-left: 0px;
	border-radius:34px;
	margin-left: 3px;
}
.conference{
	line-height: 0;
	margin: 0; 
	padding-left: 0;
	font-size: 30px;
}
.date{
	padding-left: 68%;
	font-size:20px;
}
.img-circle{
	border-radius: 100%;
}
.subHeader{
	text-decoration:underline; 
}
.focus{
	padding-top: 6%;
}
.sub{
	padding-top:5%;
}
.svg1{
	width: 100px;
	height: 150px;
}

#important_dates{
	font-size: 135%;
	margin-top:10px; 
}

@media only screen and (max-width: 1000px){
	.view-control{
		width: 300px;
	}
	.height-control{
		height: 79.9%;
	}

}
@media only screen and (min-width: 1000px){
	.view-control{
		width: 340px;
	}
	.height-control{
		height: 80%;
	}
}

a{
	color: black;
	background-color: transparent;
}
